body {
    margin: 0;
    min-height: 100vh;
    flex-direction: column ;
    background-image: url(images/images/mmc5277.png);
}


main, nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

main {
    background-color: #F1B580;
    color: white;
}
nav {
    display: inline-flexbox;
}

header, footer {
background-color: #DA7445;
padding: 24px 0;
}

.link {
    color: white;
    margin: 0 4px;
}

.containerlogo {
    margin-right: auto;
}
h1 {
    color: white;
    display: inline-block;
}

footer {
    color: white;
    text-align: center;
    margin-top: auto;
}
.flex-container {
    margin-left: auto;
    justify-content: right ;
}
img {
    width: 200px;
}

aside {
    padding: 20px;
    background-color:#F1E3DB;
}